body{
    background-color:black;

    background-color: black;
}

header{
    width:20%;
    font-family: cursive;
    float: left;
    background-image: url("/images/pexels-pixabay-270348.jpg") no repeat center center fixed;

}
header img{
    height: 100px;
    width: 100px;
}


nav{
    width:75%;
    height: 25%;
    width:75%; 
    float: right;
    margin: 20em 4em 0 0;

    margin: 0em 4em 0 0;
    height: 100px;
    /*background-image: url("http://127.0.0.1:5500/images/pexels-pixabay-270348.jpg");*/
}

main{
@@ -24,9 +28,11 @@ main{
    background-image: url("\images\pexels-nataliya-vaitkevich-6120212.jpg");
    padding: 2%;
    font-size: 1.5em;
    border-radius: 10px;

}


nav ul{
    list-style-type: none;
    margin:0;
@@ -42,9 +48,15 @@ nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em 0.5em 1em;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;

}
nav ul li a:hover {

    text-decoration: underline;

  }

footer p{
    font-size: 1em;
@@ -61,3 +73,40 @@ footer p a{
#image1{
    height: 6%;
}

.grid-container{
display: grid;
grid-template-columns: 50% 50% ;  /* it specify the size of each column */

}

.grid-item{
    display: inline-block;
   padding: 2%;

}
.step-grid {
    /* display: table-cell; */
    /* border: dashed; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 10px; */
    display: table-cell;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10%;
    /* padding-block: initial; */
    padding: 3em;
    FONT-WEIGHT: 100;

    border: dotted;
}
table, th ,td{
    border: 1px solid black;
    padding: 1em;
}
ul.bot {
    display: inline-flex;
    text-size-adjust: auto;
}
